:root {
    --hover-color: rgb(8, 109, 224);
    --link-focus-color: rgb(78, 160, 255);
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.192);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .06rem;
    line-height: 1.6;
}

html,
body {
    min-height: 100vh;
    display: flex;
}

#logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 3vw;
}

#logo i {
    font-size: 3vw;
    padding: 2%;
    color: white;
}

#logo-container {
    min-width: 40vw;
    height: 100%;
    background-image: url("images/20210818_160429.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    margin-top: 30vh;
    background-color: rgba(0, 0, 0, 0.397);
    text-align: center;
}

#form-container {
    min-width: 60vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

#mid-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.158);
}

#top-section,
#bottom-section,
#mid-section {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-top: 50px;
}

h2,
em,
button {
    font-weight: bold;
}

h2 {
    width: 75%;
}

h2.indent {
    margin-top: 20px;
}

p,
a {
    font-size: 0.7rem;
}

a {
    color: var(--link-focus-color);
    transition: color 0.5s;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--hover-color);
}

.data-row {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.data {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

label {
    text-transform: uppercase;
    font-size: .7rem;
}

button {
    border: none;
    border-radius: 5px;
    background-color: var(--link-focus-color);
    transition: background-color 0.5s;
    padding: 6px 20px 6px 20px;
    color: white;
    font-size: .9rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button:hover {
    background-color: var(--hover-color);
}

input {
    border-radius: 5px;
    padding: 5px;
    font-size: 0.7rem;
    border: solid gray 1px;
    outline: none;
}

input:focus {
    border-color: rgb(78, 160, 255);
    box-shadow: var(--box-shadow);
}

input:not(:focus):invalid {
    border-color: gray;
}

input:not(:focus):not(:placeholder-shown) {
    border-color: red;
}

input:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
}